<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header>
        <div id="logo" class="menuUp">
        <h1>MY FLEET MANAGER</h1>
        </div>
        <nav>
            <ul>
                <li><a href="/">Upload expenses</a></li>
                <li><a href="/vehicle-stats">Vehicle stats</a></li>
                <li><a href="/category-stats">Category stats</a></li>
                {# <li><a href="#">Help</a></li> #}
            </ul>
        </nav>
        </header>
        <br><br><br>
        <div class="container container-fluid">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>

